/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-tabout {
    border-collapse: collapse;
    width: 100%;

    &__link1 {
        width: 489px;
    }

    &__tr {
        height: 36px;

    }

    &__th,
    &__td {
        border: 1px solid #ccc;
    }

    &__th {
        color: $white;
        font-weight: 500;
        background: $green-light;
        // border-top: 1px solid #ebebeb;
        padding-top: 3px;
    }
    
    &__td {
        &:first-child {
            width: 67px;
            padding-left: 6px;
            padding-right: 10px;
            background-color: #ece6e6;
          
        }
    }
    
    


    &__tr,
    &__td {
        text-align: center;
        font-weight: 500;
       
        color: #222;
        padding-top: 1px;

    }

    &__td {
        &--blue {
            &:first-child {
                background-color: #6dcff6;
            }
            background-color: $blue-aqua;
        }
    }

    .c-taboutlink2 {
        .c-tabout {
            &__th {
                border: 1px solid $gray-line;

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    width: 276px;
                }
                    
            }

            &__td {
                border: 1px solid $gray-line;
                
                &:first-child {
                    width: 173px;
                    background: #ebebeb;
                    padding-top: 3px;
                    padding-left: 9px;
                }

                &:nth-child(3) {
                    padding-top: 2px;
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 2px;
                    padding-right: 0;
                }
            }
        }
    }
} 

.c-secabout {
    .c-tabout {
        &__td:first-child {
            background-color: #d3d7d9;
        }
    }
   
}
