//baseWidth
$base-width: 1000px;

$main-fonts: "YuGothic","游ゴシック", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$black: #222;
$blue-aqua: #6dcff6;
$blue-aqua--bold: #11638a;
$blue-aqua--light: #bcd5e1;
$blue-desc: #1f53fa;
$green: #a3d39c;
$green-light: #acd373;
$blue-bold: #5172fb;
$pink: #f5989d;
$pink-title--link1: #ffdfdf;
$pink-bold: #fac5c8;
$pink-title: #facfd1;
$pink-light: #ffe8e9;
$pink-light2: #fff2f2;
$pink-light3: #ffa0a5;
$orange: #ff9c00;
$orange-button: #f68e56;
$gray-main: #ece6e6;
$gray-light: #fafafa;
$gray-light2: #afafaf;
$gray-bold2: #d3d7d9;
$gray-bold: #ebebeb;
$gray-line: #ccc;

$red-link1: #f00;
$red-link2: #c40000;
$white: #fff;
$yellow: #fff799;
$yellow-bold: #ffd800;
$yellow-light: #fff9da;
